/*#customer-page {*/
/*    background-color: #eaefd9;*/
/*    height: 800px;*/
/*    position: absolute;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    right: 0;*/
/*}*/




#customer-page{

    display: flex;
    flex-direction: column;
    height: 100vh;


}


#cust-select-option{
    /*background-color: #ff253a;*/
    width: 80%;
    height: 80px;
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 5px;
    display: flex;
}

.cust-select{
    /*background-color: #15cce3;*/
    width: 600px;
    height: 50px;
    margin: 10px;

}
.form-group{
    margin-top: 12px;

}
#cust-select{
    margin-top: 20px;
}
.select-name{
    font-size: 12px;
    padding-left: 10px;
    opacity: 60%;
}

#cust-btn-option{
    /*background-color: #ff253a;*/
    width: 80%;
    height: 78px;
    margin-left: 20px;
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

#cut-add{
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: 50px;
    border-radius: 0;
}

#serch-cust-id {
    position: relative;
    top: 30px;
    left: 393px;
    width: 250px;
}
#cust-tbl{
    width: 98%;
    height: 520px;
    /*background-color: #0F91DA;*/
    margin-left: 20px;
    overflow-y: scroll;

}
/*------------------------------------------------------------------------*/

#customer-form{
    position: relative;
    display: flex;

    width: 100vw;
    height: 100vh;

}
.form-feel{
    width: 36%;
    height: 80%;
    /*background: #ff253a;*/
    margin: 20px;
    margin-top: 75px;

}
#cus-reg{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 400px;
    top: 50px;
}
#cus-btn-area{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 140px;
    left: 400px;
    bottom: 20px;
    /*background: #2fd4e8;*/
}
input, select {
    border: 3px solid rgba(0, 155, 193, 0.6) !important;
    padding: 10px !important;
    font-size: 16px !important;
    border-radius: 5px !important;
}
